@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&display=swap");

$deep-blue: #131a2f;
$sweet-pink: #fe435b;

.landing {
  background-image: url("../assets/images/home.jpg");
  background-position: -100px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 15rem;
    font-weight: 900;
    opacity: 0.34;
    color: #fdaa27;
    text-transform: uppercase;
  }

  h3 {
    position: absolute;
    color: white;
    font-size: 4em;
    font-weight: 500;
  }
}

.offer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  .offer-header {
    height: 25%;
    padding-top: 20vh;
    line-height: 1.2;
    letter-spacing: 2px;

    h2 {
      font-weight: 300;
      font-size: 2.4em;
      margin: 0;
    }

    h3 {
      color: rgb(143, 140, 140);
      letter-spacing: 0px;
      font-weight: 400;
    }
  }

  .offer-container {
    display: flex;
    justify-content: space-around;
    height: 75%;
    position: relative;
    margin: 0 180px;

    .offer-card {
      box-sizing: border-box;
      background-color: green;

      position: relative;
      height: 80%;
      width: 20%;

      color: white;

      img {
        height: 100%;
        width: 100%;
        vertical-align: middle;
        border-style: none;
      }

      h4,
      h1 {
        position: absolute;
        left: 20px;
      }
      h4 {
        font-weight: 300;
        font-size: 1em;
        bottom: 12%;
      }
      h1 {
        font-weight: 400;
        font-size: 1.5em;
        bottom: 2%;
      }
    }
  }
}

.last {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/images/last.jpg");
  background-position: -100px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  .last-card {
    box-sizing: border-box;
    height: 80%;
    width: 30%;
    padding: 90px;

    color: white;
    background-color: rgba(254, 67, 91, 0.8);

    .last-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      #head {
        font-size: 2em;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .last-pt {
        font-size: 8em;
        font-weight: 200;
        margin: 0;
      }
      p {
        padding-bottom: 10px;
      }
    }
  }
}

button {
  box-sizing: border-box;
  color: white;
  border: none;
  background-color: $deep-blue;
  padding: 20px 30px;
  cursor: pointer;
  outline: none;

  &:hover {
    opacity: 0.84;
  }
}

.popular-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .popular-card-section {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    &:nth-of-type(1) {
      align-items: flex-end;
    }
    &:nth-of-type(2) {
      align-items: flex-start;
    }

    .popular-card {
      height: 90%;
      width: 18%;
      box-sizing: border-box;
      position: relative;
      bottom: 10;

      margin: 10px;
      color: white;

      img {
        height: 100%;
        width: 100%;
      }

      h1,
      h4 {
        position: absolute;
        left: 20px;
      }
      h4 {
        font-size: 12px;
        font-weight: 400;
        bottom: 40px;
      }
      h1 {
        font-weight: 700;
        font-size: 22px;
        bottom: 10px;
      }
    }
  }
}
